---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
	<h2>
	<a class="text-lg" href="/">
		<svg xmlns="http://www.w3.org/2000/svg" width="80" height="39" viewBox="0 0 63.958 31.45">
  <g transform="translate(14.551 -111.353)">
    <rect width="31.45" height="31.45" x="-14.551" y="111.353" rx=".983" ry=".983" style="opacity:.9;fill:purple;stroke-width:.558579;stroke-linejoin:round;stop-color:#000"/>
    <path d="M-.887 116.57a.465.465 0 0 0-.466.466l-.081 11.996c.051 3.475.087 3.9.396 4.733.649 1.75 3.084 3.01 4.748 3.27.433.068 1.459.133 2.28.145l1.493.02v-4.965l-1.29-.058c-1.014-.045-1.384-.131-1.723-.402-.759-.604-.81-.883-.813-4.376l-.002-1.09h3.558a.5.5 0 0 0 .182-.036h.098l-.001-.056a.46.46 0 0 0 .187-.373v-4.018a.47.47 0 0 0-.272-.424h-.001a.5.5 0 0 0-.193-.042H3.597v-4.324a.465.465 0 0 0-.466-.466z" style="fill:#fff;stroke-width:.158553"/>
    <rect width="31.45" height="31.45" x="17.957" y="111.353" rx=".983" ry=".983" style="opacity:.9;fill:purple;stroke-width:.558579;stroke-linejoin:round;stop-color:#000"/>
    <path d="M25.574 117.275a1.23 1.23 0 0 0-1.231 1.232v17.287c0 .682.55 1.231 1.231 1.231h10.337c10.548 0 10.676-19.75 0-19.75z" style="opacity:1;fill:#fff;stroke-width:.7;stroke-linejoin:round;stop-color:#000;fill-opacity:1"/>
    <path d="M24.343 131.439v4.355c0 .682.55 1.231 1.231 1.231h4.421v-5.358a.23.23 0 0 0-.228-.228z" style="opacity:.9;fill:#00f;stroke-width:.7;stroke-linejoin:round;stop-color:#000"/>
    <path d="M30.553 123.037h4.305c4.446 0 4.393 8.226 0 8.226h-4.305a.51.51 0 0 1-.513-.513v-7.2c0-.284.229-.513.513-.513" style="opacity:.9;fill:#f0f;stroke-width:.7;stroke-linejoin:round;stop-color:#000"/>
    <path d="M-6.33 121.36h4.018c.258 0 .466.208.466.466v4.018a.465.465 0 0 1-.466.466H-6.33a.465.465 0 0 1-.466-.466v-4.018c0-.258.208-.466.466-.466" style="opacity:.9;fill:#0f0;stroke-width:.0879106;stroke-linejoin:round;stop-color:#000"/>
  </g>
</svg>
		 Tecno Digital</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="/acerca">Acerca</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.culturamaker.com.ar" target="_blank">
				<span class="sr-only">Visita también Cultura Maker</span>
					<svg xmlns="http://www.w3.org/2000/svg" width="40" height="38" viewBox="0 0 15.613 13.844">
  						<path d="M55.414 222.554c-.04-.03-.069-.183-.13-.695-.045-.36-.083-.657-.086-.659l-.203-.056a5.3 5.3 0 0 1-.999-.405l-.252-.136-.48.38c-.265.208-.514.396-.553.417-.069.036-.101.009-.68-.567-.36-.36-.606-.628-.606-.662 0-.032.16-.263.358-.514.197-.25.377-.48.399-.512.034-.05.018-.1-.13-.392a3 3 0 0 1-.17-.37c0-.023.228-.033.76-.033h.76l.137.19c.94 1.312 2.692 1.762 4.187 1.075.452-.208.99-.657 1.287-1.073l.138-.192h.76c.533 0 .76.01.76.033 0 .019-.075.183-.167.366a8 8 0 0 0-.168.343c0 .006.178.236.396.512.218.275.397.528.397.562 0 .04-.213.275-.607.667-.573.57-.611.602-.677.567-.039-.02-.286-.207-.55-.414l-.478-.377-.356.18a6 6 0 0 1-.713.295 5 5 0 0 0-.379.132c-.011.01-.056.306-.098.658-.062.507-.089.65-.13.68-.038.028-.262.038-.864.038-.603 0-.826-.01-.863-.039m-4.625-4.77c-.363-.046-.587-.09-.636-.121-.155-.102-.166-.187-.156-1.144.008-.838.012-.885.072-.967a.5.5 0 0 1 .14-.124c.042-.02.331-.067.644-.104l.568-.068.11-.322c.062-.178.174-.45.251-.604.097-.196.13-.294.11-.32l-.357-.459c-.348-.444-.405-.558-.354-.71.019-.058.277-.339.68-.741.643-.64.652-.647.78-.647.168 0 .182.008.678.4.23.183.434.332.453.332s.154-.06.3-.133c.147-.073.404-.18.572-.237s.311-.106.318-.11.044-.27.083-.589c.047-.39.087-.61.123-.67.093-.159.158-.168 1.125-.168 1.172 0 1.106-.043 1.204.778.034.294.07.562.077.595.01.047.081.082.296.15.156.05.418.157.583.237.165.081.313.147.328.147s.223-.153.46-.34c.46-.364.59-.432.741-.389.123.036 1.348 1.255 1.391 1.385.05.153-.007.267-.366.72a8 8 0 0 0-.353.466c-.009.021.046.161.12.311.075.15.186.418.247.596l.112.322.566.067c.31.036.6.083.644.104a.5.5 0 0 1 .141.125c.062.083.064.12.064 1.007 0 1.044 0 1.046-.239 1.131-.07.025-.374.074-.676.11-.535.06-.683.062-5.417.059l-4.868-.003zM54 217.02c.027-.026.048-.099.048-.162 0-.107.009-.117.148-.176l.148-.063.117.087a.6.6 0 0 0 .142.087c.052 0 .301-.255.32-.326q.018-.074-.043-.14c-.1-.113-.106-.14-.053-.278.048-.127.058-.134.208-.16l.157-.027.01-.241c.01-.265-.005-.291-.162-.293-.125 0-.154-.025-.214-.175-.052-.13-.052-.13.027-.235a.4.4 0 0 0 .08-.143c0-.055-.278-.332-.333-.332a.4.4 0 0 0-.156.078l-.112.077-.142-.061c-.13-.056-.142-.07-.142-.166 0-.193-.012-.202-.279-.202-.23 0-.242.003-.27.078a.5.5 0 0 0-.03.154c0 .06-.028.087-.14.135-.145.062-.205.053-.287-.045a.15.15 0 0 0-.103-.048c-.074 0-.356.266-.354.335 0 .026.04.093.088.15l.088.101-.055.123c-.065.145-.105.175-.231.176-.051 0-.11.017-.13.037-.04.04-.05.413-.013.472.012.019.086.044.164.056.132.02.146.03.191.149.062.163.063.157-.027.275a.5.5 0 0 0-.077.127c0 .039.313.35.35.348.018 0 .078-.04.135-.086l.104-.087.14.054c.134.05.142.06.166.2.014.081.04.158.06.17.071.045.411.028.462-.023zm-.448-.721a.8.8 0 0 1-.264-.165.68.68 0 0 1-.175-.822.675.675 0 0 1 .645-.41c.547 0 .882.542.638 1.032-.158.316-.489.46-.844.365m5.46.745c.02-.013.048-.09.062-.17.023-.14.032-.15.165-.201l.14-.053.104.086a.5.5 0 0 0 .134.087c.037 0 .352-.308.352-.347a.5.5 0 0 0-.081-.134c-.078-.103-.08-.11-.037-.247s.05-.142.195-.169c.083-.015.161-.042.174-.06.037-.057.026-.43-.013-.47-.02-.02-.079-.038-.13-.038-.125 0-.166-.031-.23-.173l-.054-.121.088-.118a.6.6 0 0 0 .088-.144c0-.054-.286-.328-.342-.328a.36.36 0 0 0-.157.074c-.097.074-.1.075-.238.025-.133-.048-.14-.056-.167-.204l-.027-.155-.251-.009c-.276-.01-.267-.016-.29.217-.007.071-.034.098-.153.149l-.144.062-.094-.08c-.053-.044-.118-.08-.145-.08-.062 0-.342.272-.342.332 0 .024.035.09.079.148.078.102.078.104.028.231-.06.15-.09.173-.214.174-.157.002-.172.028-.162.293l.01.241.154.028c.143.025.157.036.208.158.056.137.043.204-.056.286-.086.072-.054.17.104.318a.9.9 0 0 0 .177.141c.014 0 .08-.04.146-.088l.12-.088.138.066c.125.06.14.077.155.197.01.073.037.144.061.16.053.033.395.036.446.003zm-.46-.756a.68.68 0 0 1-.396-.354.702.702 0 0 1 .638-1.033c.294 0 .52.144.645.411.134.288.08.558-.156.797-.215.216-.463.276-.73.179m-7.713-4.825a185 185 0 0 1-1.28-1.487c-.014-.016-.074-.003-.14.03-.148.071-.447.075-.575.006-.408-.218-.499-.716-.191-1.05a.652.652 0 0 1 1.132.446.7.7 0 0 1-.05.266.5.5 0 0 0-.051.125c0 .022.685.623 1.745 1.532l.09.076-.196.193-.195.193zm10.387.133-.19-.192.916-.789c.503-.434.916-.801.916-.816a.5.5 0 0 0-.051-.125.7.7 0 0 1-.05-.266.651.651 0 0 1 1.132-.446c.501.544-.109 1.354-.78 1.036-.058-.028-.113-.038-.126-.022l-.794.92c-.423.49-.772.892-.776.892s-.092-.086-.197-.192" style="fill:#000;stroke-width:.0305177" transform="translate(-48.47 -208.748)"/>
					</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		nav a, .social-links {
			display: none;
		}
	}
</style>
