---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<div class="logo-title">
			<a class="text-lg" href="/">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="80"
					height="39"
					viewBox="0 0 63.958 31.45"
				>
					<g transform="translate(14.551 -111.353)">
						<rect
							width="31.45"
							height="31.45"
							x="-14.551"
							y="111.353"
							rx=".983"
							ry=".983"
							style="opacity:.9;fill:purple;stroke-width:.558579;stroke-linejoin:round;stop-color:#000"
						></rect>
						<path
							d="M-.887 116.57a.465.465 0 0 0-.466.466l-.081 11.996c.051 3.475.087 3.9.396 4.733.649 1.75 3.084 3.01 4.748 3.27.433.068 1.459.133 2.28.145l1.493.02v-4.965l-1.29-.058c-1.014-.045-1.384-.131-1.723-.402-.759-.604-.81-.883-.813-4.376l-.002-1.09h3.558a.5.5 0 0 0 .182-.036h.098l-.001-.056a.46.46 0 0 0 .187-.373v-4.018a.47.47 0 0 0-.272-.424h-.001a.5.5 0 0 0-.193-.042H3.597v-4.324a.465.465 0 0 0-.466-.466z"
							style="fill:#fff;stroke-width:.158553"></path>
						<rect
							width="31.45"
							height="31.45"
							x="17.957"
							y="111.353"
							rx=".983"
							ry=".983"
							style="opacity:.9;fill:purple;stroke-width:.558579;stroke-linejoin:round;stop-color:#000"
						></rect>
						<path
							d="M25.574 117.275a1.23 1.23 0 0 0-1.231 1.232v17.287c0 .682.55 1.231 1.231 1.231h10.337c10.548 0 10.676-19.75 0-19.75z"
							style="opacity:1;fill:#fff;stroke-width:.7;stroke-linejoin:round;stop-color:#000;fill-opacity:1"
						></path>
						<path
							d="M24.343 131.439v4.355c0 .682.55 1.231 1.231 1.231h4.421v-5.358a.23.23 0 0 0-.228-.228z"
							style="opacity:.9;fill:#00f;stroke-width:.7;stroke-linejoin:round;stop-color:#000"
						></path>
						<path
							d="M30.553 123.037h4.305c4.446 0 4.393 8.226 0 8.226h-4.305a.51.51 0 0 1-.513-.513v-7.2c0-.284.229-.513.513-.513"
							style="opacity:.9;fill:#f0f;stroke-width:.7;stroke-linejoin:round;stop-color:#000"
						></path>
						<path
							d="M-6.33 121.36h4.018c.258 0 .466.208.466.466v4.018a.465.465 0 0 1-.466.466H-6.33a.465.465 0 0 1-.466-.466v-4.018c0-.258.208-.466.466-.466"
							style="opacity:.9;fill:#0f0;stroke-width:.0879106;stroke-linejoin:round;stop-color:#000"
						></path>
					</g>
				</svg>
				<h2>TecnoDigital</h2>
			</a>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="/acerca">Acerca</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.tecnogirl.com.ar" target="_blank">
				<span class="sr-only">Visita también Cultura Maker</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xml:space="preserve"
					width="27"
					height="32"
					viewBox="0 0 28.685 34.844"
					><path
						d="M42.745 84.393v-1.984h-2.148c-2.097 0-2.144-.014-1.99-.596.086-.327.365-1.399.618-2.381l.462-1.786h1.529c1.32 0 1.529-.068 1.529-.498 0-.373-.314-.575-1.257-.81-6.159-1.528-10.12-6.29-10.12-12.165 0-5.546 3.308-9.85 9.057-11.78 7.245-2.431 15.493.467 18.405 6.468 3.404 7.017-.599 15.332-8.33 17.304-.97.248-1.273.447-1.273.837 0 .453.246.527 2.142.644l2.143.132-.657 2.315-.657 2.316h-3.103v1.305c0 1.013-.104 1.336-.463 1.445-.735.224-5.324 1.218-5.62 1.218-.156 0-.267-.824-.267-1.984m7.293-14.144c3.387-1.667 4.817-4.907 3.663-8.296-.564-1.655-2.415-3.451-4.315-4.186-2.284-.884-5.481-.83-7.567.128-3.039 1.396-4.354 3.287-4.354 6.257 0 2.65 1.015 4.412 3.386 5.877 2.477 1.53 6.337 1.623 9.187.22"
						style="fill:#000;stroke-width:.264583"
						transform="translate(-31.368 -51.533)"></path>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav,
	.logo-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.logo-title h2,
		.social-links {
			display: none;
		}
	}
</style>
