---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
	<nav>
		<div class="logo-title">
			<a class="" href="/">
				<svg xmlns="http://www.w3.org/2000/svg" width="170" viewBox="0 0 110.825 47.025"><g transform="translate(87 -117.363)"><path d="M-86.018 149.871h108.86a.98.98 0 0 1 .982.983v12.55a.98.98 0 0 1-.982.984h-108.86a.98.98 0 0 1-.982-.983v-12.551a.98.98 0 0 1 .982-.983" style="opacity:.9;fill:#e73d95;fill-opacity:1;stroke-width:.558579;stroke-linejoin:round;stop-color:#000"/><rect width="31.45" height="31.45" x="-87" y="117.363" rx=".983" ry=".983" style="opacity:.9;fill:purple;stroke-width:.558579;stroke-linejoin:round;stop-color:#000"/><path d="M-73.336 122.58a.465.465 0 0 0-.466.466l-.082 11.996c.052 3.474.088 3.9.397 4.733.648 1.75 3.084 3.009 4.748 3.27.433.068 1.459.133 2.28.144l1.493.02v-4.964l-1.29-.058c-1.014-.046-1.384-.132-1.724-.402-.758-.604-.81-.883-.812-4.376l-.002-1.09h3.557a.5.5 0 0 0 .182-.036h.099l-.001-.056a.46.46 0 0 0 .187-.373v-4.018a.466.466 0 0 0-.466-.466h-3.616v-4.324a.465.465 0 0 0-.466-.466z" style="fill:#fff;stroke-width:.158553"/><rect width="31.45" height="31.45" x="-54.492" y="117.363" rx=".983" ry=".983" style="opacity:.9;fill:purple;stroke-width:.558579;stroke-linejoin:round;stop-color:#000"/><path d="M-46.875 123.284a1.23 1.23 0 0 0-1.231 1.232v17.287c0 .683.549 1.232 1.231 1.232h10.337c10.548 0 10.675-19.75 0-19.75z" style="opacity:.9;fill:#fff;stroke-width:.7;stroke-linejoin:round;stop-color:#000"/><path d="M-48.106 137.448v4.355c0 .683.549 1.232 1.231 1.232h4.421v-5.358a.23.23 0 0 0-.228-.229z" style="opacity:.9;fill:#00f;stroke-width:.7;stroke-linejoin:round;stop-color:#000"/><path d="M-41.896 129.047h4.305c4.446 0 4.393 8.225 0 8.225h-4.305a.51.51 0 0 1-.513-.512v-7.2c0-.284.228-.513.513-.513" style="opacity:.9;fill:#f0f;stroke-width:.7;stroke-linejoin:round;stop-color:#000"/><path d="M-78.78 127.37h4.019c.258 0 .465.207.465.465v4.019a.465.465 0 0 1-.465.465h-4.019a.465.465 0 0 1-.465-.465v-4.019c0-.258.207-.465.465-.465" style="opacity:.9;fill:#0f0;stroke-width:.0879106;stroke-linejoin:round;stop-color:#000"/><g aria-label="tecno" style="font-weight:700;font-size:12.2301px;line-height:0;font-family:Raleway;-inkscape-font-specification:&quot;Raleway, Bold&quot;;stroke-width:2.08008;stroke-linejoin:round;stop-color:#000"><path d="M-14.635 131.899q-.208.085-.502.195-.293.11-.636.172-.33.073-.672.073-.453 0-.832-.159-.38-.159-.612-.501-.22-.355-.22-.918v-3.68h-.844v-1.26h.844v-2.08h1.64v2.08h1.344v1.26h-1.345v3.13q.012.33.184.477.17.147.428.147.256 0 .501-.086t.391-.147zM-10.893 132.351q-.77 0-1.394-.257-.624-.269-1.064-.721-.44-.465-.685-1.052-.232-.6-.232-1.26 0-.917.403-1.675.416-.758 1.174-1.211.77-.465 1.81-.465 1.052 0 1.798.465.746.453 1.138 1.21.403.747.403 1.615 0 .147-.012.306-.012.147-.025.245h-4.953q.05.489.282.856.244.367.611.562.38.184.807.184.49 0 .917-.233.44-.244.6-.636l1.406.392q-.232.489-.672.868-.429.38-1.016.6-.587.207-1.296.207m-1.675-3.84h3.35q-.048-.49-.28-.844-.22-.367-.588-.562-.367-.208-.82-.208-.44 0-.806.208-.355.195-.587.562-.22.355-.27.844M-3.555 132.351q-.783 0-1.406-.257-.624-.269-1.064-.733-.44-.477-.685-1.077-.233-.599-.233-1.26 0-.904.404-1.65.416-.759 1.174-1.211t1.798-.453 1.785.453q.747.452 1.113 1.186l-1.602.49q-.208-.355-.55-.539-.343-.195-.758-.195-.465 0-.856.244-.38.232-.6.673-.22.428-.22 1.003 0 .562.22 1.003.233.428.612.684.379.245.844.245.293 0 .55-.098.27-.098.477-.269.208-.171.306-.391l1.602.489q-.22.477-.648.856-.416.38-.99.6-.564.207-1.273.207M6.315 132.229H4.676v-3.596q0-.77-.27-1.125-.268-.355-.745-.355-.33 0-.673.172-.33.17-.6.477-.268.293-.39.685v3.742H.358v-6.409h1.48v1.187q.245-.416.624-.697.38-.294.869-.44.501-.16 1.051-.16.6 0 .979.22.391.208.587.575.208.355.281.807.086.453.086.918zM10.705 132.351q-.782 0-1.406-.257-.624-.269-1.064-.733-.428-.465-.66-1.064-.233-.6-.233-1.26 0-.673.233-1.272.232-.6.66-1.064.44-.465 1.064-.722.624-.269 1.406-.269.783 0 1.395.27.623.256 1.064.72.44.466.66 1.065.232.6.232 1.272 0 .66-.232 1.26-.22.599-.66 1.064-.428.464-1.052.733-.624.257-1.407.257m-1.675-3.314q0 .562.22 1.003.22.428.6.672.378.245.855.245.465 0 .844-.245.38-.256.6-.684.232-.44.232-1.003 0-.55-.232-.991-.22-.44-.6-.685-.379-.244-.844-.244-.477 0-.856.256-.379.245-.599.685-.22.428-.22.99"/></g><g aria-label="digital" style="font-weight:700;font-size:12.2301px;line-height:0;font-family:Raleway;-inkscape-font-specification:&quot;Raleway, Bold&quot;;stroke-width:2.08008;stroke-linejoin:round;stop-color:#000"><path d="M-18.867 140.032q0-.93.367-1.676.367-.758 1.015-1.198t1.48-.44q.71 0 1.272.354.575.343.893.88v-3.644h1.638v7.094q0 .256.086.367t.294.134v1.333q-.428.086-.698.086-.44 0-.733-.22-.282-.22-.318-.575l-.025-.404q-.354.6-.966.917-.6.318-1.26.318t-1.223-.256q-.55-.257-.966-.71-.403-.452-.636-1.052-.22-.611-.22-1.308m5.027.856v-1.529q-.123-.354-.392-.636-.269-.281-.599-.44-.33-.171-.66-.171-.38 0-.685.159t-.538.428q-.22.269-.343.624-.11.354-.11.746 0 .39.122.746.135.342.38.599.244.257.562.403.33.147.71.147.232 0 .464-.073.245-.086.453-.22.22-.147.379-.343.171-.208.257-.44M-10.587 143.236v-6.408h1.639v6.408zm0-7.301v-1.627h1.639v1.627zM-4.961 143.273q-.636 0-1.174-.245-.526-.257-.918-.71-.379-.452-.587-1.039t-.208-1.247q0-.697.22-1.297.22-.599.612-1.051.404-.465.942-.71.55-.256 1.21-.256.747 0 1.31.342.562.33.929.893v-1.125h1.43v6.102q0 .954-.464 1.627-.453.685-1.26 1.04-.807.366-1.834.366-1.04 0-1.762-.354-.721-.343-1.235-.979l.893-.868q.367.453.917.71.563.256 1.187.256.525 0 .953-.195.44-.184.698-.587.269-.392.269-1.016v-.807q-.318.55-.905.856-.575.294-1.223.294m.55-1.309q.27 0 .514-.085t.452-.233.367-.342q.16-.208.245-.416v-1.529q-.147-.379-.416-.66-.257-.281-.587-.428-.318-.16-.673-.16-.379 0-.685.16-.305.159-.526.452-.22.282-.342.636-.11.343-.11.722 0 .391.134.734.135.342.367.599.245.257.563.403.33.147.697.147M.285 143.236v-6.408h1.64v6.408zm0-7.301v-1.627h1.64v1.627zM7.244 142.906q-.208.086-.501.196t-.636.17q-.33.074-.673.074-.452 0-.831-.159-.38-.159-.612-.501-.22-.355-.22-.917v-3.682h-.844v-1.26h.844v-2.079H5.41v2.08h1.345v1.26H5.41v3.13q.012.33.183.477t.428.147.502-.086.391-.146zM7.66 141.34q0-.623.343-1.088.354-.477.978-.734t1.43-.257q.404 0 .82.061.416.062.722.196v-.342q0-.612-.367-.942-.355-.33-1.064-.33-.526 0-1.003.183-.477.184-1.003.538l-.526-1.076q.636-.416 1.297-.624.672-.208 1.406-.208 1.37 0 2.128.685.77.685.77 1.957v2.043q0 .256.086.366.098.11.306.135v1.333q-.22.037-.404.061-.17.025-.293.025-.49 0-.746-.22-.245-.22-.306-.539l-.037-.33q-.415.538-1.04.832-.623.293-1.271.293-.636 0-1.15-.256-.501-.27-.795-.722-.28-.465-.28-1.04m3.987.33q.135-.146.22-.293.086-.147.086-.269v-.648q-.294-.122-.636-.184-.343-.073-.648-.073-.636 0-1.052.281-.404.27-.404.722 0 .245.135.465.134.22.391.354.257.135.612.135.367 0 .721-.135.355-.146.575-.354M15.108 134.308h1.64v6.874q0 .44.146.599.147.147.403.147.196 0 .404-.05.208-.048.367-.122l.22 1.248q-.33.159-.77.244-.44.086-.795.086-.77 0-1.199-.404-.416-.415-.416-1.174z"/></g><path fill="#4d4d4d" d="m97.782 240.49-1.527.409.036 4.038-3.829-4.155H91v6.663l1.527-.41-.04-3.924q0-.012-.002-.025l3.817 4.172h1.48zm5.455.144q-.841 0-1.536.259-.693.249-1.212.703a3.2 3.2 0 0 0-.805 1.064 3.2 3.2 0 0 0-.277 1.332q0 .722.277 1.332.288.61.796 1.064.518.453 1.212.713.369.131.78.193v.232h-.813l-.372 1.326h1.185v1.056l1.67-.372v-.684h.82l.366-1.326h-1.185v-.255q.327-.062.63-.17.702-.25 1.212-.703.517-.463.795-1.074.287-.61.287-1.332t-.287-1.332a3.1 3.1 0 0 0-.795-1.064 3.5 3.5 0 0 0-1.212-.712 4.5 4.5 0 0 0-1.536-.25m-16.545.018q-.795 0-1.489.24-.684.242-1.194.695-.508.453-.804 1.063a3 3 0 0 0-.296 1.342q0 .75.286 1.37.288.61.796 1.063.519.444 1.203.685.684.24 1.49.24.591 0 1.137-.147a5 5 0 0 0 .981-.39q.444-.23.703-.471l-.75-1.212a5 5 0 0 1-.499.36 3.5 3.5 0 0 1-.647.306q-.352.12-.796.12-.463 0-.879-.12a2.4 2.4 0 0 1-.722-.37 1.9 1.9 0 0 1-.499-.601 1.76 1.76 0 0 1-.185-.814 1.78 1.78 0 0 1 .647-1.407q.307-.25.676-.37.37-.13.777-.13.444 0 .796.103.36.101.647.277.287.167.528.38l.915-1.203a3.3 3.3 0 0 0-.767-.51 4.3 4.3 0 0 0-.972-.36 4.2 4.2 0 0 0-1.083-.139m25.891.074q-.786 0-1.47.25a3.8 3.8 0 0 0-1.204.703 3.15 3.15 0 0 0-.805 1.046 3 3 0 0 0-.286 1.295q0 .776.286 1.397.297.62.805 1.054.51.426 1.175.657.666.222 1.406.222.769 0 1.407-.185.648-.194 1.12-.555.47-.37.73-.906a2.8 2.8 0 0 0 .26-1.24v-.102q-.001-.064-.01-.148-.01-.093-.029-.222h-3.404v.98h2.342a.88.88 0 0 1-.168.537 1.65 1.65 0 0 1-.5.463q-.324.195-.758.305a4 4 0 0 1-.925.102q-.528 0-1.018-.157a2.8 2.8 0 0 1-.86-.454 2.1 2.1 0 0 1-.602-.74 2.3 2.3 0 0 1-.213-1.008q0-.5.204-.916a2.3 2.3 0 0 1 .583-.74q.37-.315.86-.49.5-.176 1.073-.176.408 0 .787.11.389.103.74.288.351.175.666.444l.647-.713a2.5 2.5 0 0 0-.684-.546 4 4 0 0 0-.98-.397 4.2 4.2 0 0 0-1.176-.158zm-43.802.056-.372 1.388h2.303v5.088h1.573v-5.088h1.941l.372-1.388zm7.331 0v1.354l1.527-.013h3.4l.36-1.341zm41.465 0v.962h1.452v4.552h-1.452v.962h3.913v-.962h-1.462v-4.552h1.462v-.962zm6.13 0v6.476h1v-2.405h1.944l1.645 2.405 1.24.01-1.757-2.546q.166-.06.323-.147.5-.278.795-.74.306-.472.306-1.036t-.287-1.018a2.1 2.1 0 0 0-1.795-1zm7.74 0v6.476h4.857v-.962h-3.858v-5.514zm-6.741.962h2.174q.352 0 .638.139.297.138.463.38a.9.9 0 0 1 .167.536q0 .296-.158.546a1.15 1.15 0 0 1-.425.397 1.2 1.2 0 0 1-.592.148h-2.267zm-21.469.37q.49 0 .898.148.407.139.703.398.306.25.463.592.165.342.166.74 0 .398-.166.74a1.7 1.7 0 0 1-.463.601q-.296.25-.703.399-.407.138-.898.138a2.7 2.7 0 0 1-.888-.138 2.4 2.4 0 0 1-.712-.399 1.65 1.65 0 0 1-.463-.591 1.8 1.8 0 0 1-.157-.75q0-.398.157-.74.158-.352.463-.601a2.3 2.3 0 0 1 .712-.389 2.6 2.6 0 0 1 .888-.148m-27.125 1.206v3.938h4.947l.36-1.341h-3.78v-1.314h2.798l.341-1.277h-3.14z" style="fill:#fff;fill-opacity:1" transform="translate(-123.715 -87.046)"/><path d="M49.58 239.958h15.105c.314 0 .612.256.566.567l-1.058 7.232c-.045.31-.252.566-.566.566H48.52c-.314 0-.612-.256-.566-.566l1.058-7.232c.045-.31.253-.567.566-.567" style="opacity:1;fill:#df1c81;fill-opacity:1;stroke-width:.321885;stroke-linejoin:round;stop-color:#000" transform="translate(-123.715 -87.046)"/><g aria-label="plus" style="font-style:italic;font-weight:700;font-size:5.58149px;line-height:0;font-family:Raleway;-inkscape-font-specification:&quot;Raleway Bold Italic&quot;;fill:#fff;stroke-width:.949292;stroke-linejoin:round;stop-color:#000"><path d="M-71.91 155.48h.654l-.106.503q.206-.257.48-.402.279-.15.591-.15.318 0 .542.161.229.157.351.43.123.274.123.609 0 .357-.128.692-.129.329-.352.586-.218.256-.502.407-.285.145-.597.145-.319 0-.53-.15-.213-.157-.29-.419l-.364 1.702h-.748zm.944 2.345q.179 0 .34-.09.168-.094.29-.245.129-.156.202-.346.078-.195.078-.39 0-.196-.073-.352-.067-.157-.2-.246-.13-.09-.308-.09-.1 0-.206.04-.106.033-.212.1-.1.067-.19.157-.084.089-.145.195l-.151.687q.034.161.112.295t.195.212q.123.073.268.073M-68.415 158.45q-.28 0-.436-.128-.15-.134-.15-.38 0-.05.005-.1.011-.056.017-.112l.726-3.399h.742l-.664 3.137-.011.056v.055q0 .23.228.23.062 0 .14-.023.084-.022.156-.056l-.022.57q-.156.072-.363.111-.206.04-.368.04M-66.557 158.461q-.686 0-.686-.714 0-.1.01-.207.018-.106.046-.229l.39-1.83h.743l-.352 1.669q-.04.161-.04.279 0 .396.336.396.134 0 .268-.056.14-.061.279-.178.14-.118.257-.296l.385-1.814h.748l-.441 2.065-.012.056v.044q0 .118.134.123l-.134.636q-.1.017-.178.028-.073.011-.134.011-.19 0-.301-.078-.112-.078-.112-.24v-.061l.011-.084q.011-.056.028-.122-.251.295-.575.452-.318.15-.67.15M-63.007 158.461q-.357 0-.675-.117-.313-.117-.503-.335l.374-.469q.212.185.436.285.223.095.452.095.156 0 .268-.045.111-.05.173-.128.061-.084.061-.19 0-.14-.123-.206-.122-.067-.385-.146-.29-.094-.48-.178-.184-.09-.273-.207-.09-.122-.09-.307 0-.312.173-.558.18-.245.475-.385.301-.145.67-.145.318 0 .569.1.251.095.447.302l-.397.452q-.178-.167-.346-.24-.162-.078-.357-.078-.145 0-.262.045-.112.039-.179.122-.067.084-.067.201 0 .129.1.19.107.056.363.134.313.09.514.19.2.095.301.229t.1.34q0 .307-.167.542-.167.234-.469.373-.301.134-.703.134z"/></g></g></svg>
			</a>
		</div>
		<div class="internal-links">
			<HeaderLink href="/">Blog</HeaderLink>
			<HeaderLink href="/acerca">Acerca</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://www.tecnogirl.com.ar" target="_blank">
				<span class="sr-only">Visita también Tecnogirl</span>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					xml:space="preserve"
					width="27"
					height="32"
					viewBox="0 0 28.685 34.844"
					><path
						d="M42.745 84.393v-1.984h-2.148c-2.097 0-2.144-.014-1.99-.596.086-.327.365-1.399.618-2.381l.462-1.786h1.529c1.32 0 1.529-.068 1.529-.498 0-.373-.314-.575-1.257-.81-6.159-1.528-10.12-6.29-10.12-12.165 0-5.546 3.308-9.85 9.057-11.78 7.245-2.431 15.493.467 18.405 6.468 3.404 7.017-.599 15.332-8.33 17.304-.97.248-1.273.447-1.273.837 0 .453.246.527 2.142.644l2.143.132-.657 2.315-.657 2.316h-3.103v1.305c0 1.013-.104 1.336-.463 1.445-.735.224-5.324 1.218-5.62 1.218-.156 0-.267-.824-.267-1.984m7.293-14.144c3.387-1.667 4.817-4.907 3.663-8.296-.564-1.655-2.415-3.451-4.315-4.186-2.284-.884-5.481-.83-7.567.128-3.039 1.396-4.354 3.287-4.354 6.257 0 2.65 1.015 4.412 3.386 5.877 2.477 1.53 6.337 1.623 9.187.22"
						style="fill:#000;stroke-width:.264583"
						transform="translate(-31.368 -51.533)"></path>
				</svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav,
	.logo-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.logo-title h2,
		.social-links {
			display: none;
		}
	}
</style>
